# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.wrangler
.output
.vercel
.netlify
.vinxi
app.config.timestamp_*.js

# Flask
instance/
.webassets-cache

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# Environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.env*.local

# PyPI configuration file
.pypirc

# Data
data/*
models/*

# Frontend Dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
*.launch
.settings/
.vscode/

# System Files
.DS_Store
Thumbs.db

# Keep Files
!.gitkeep

.gitignore
*.log

skills/
!skills/.template